.sci {
    position: relative;
    display: flex;
    gap: 25px;
    height: 100px;
}
.sci li {
    list-style: none;
}
.sci li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: #fff;
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: background 0.25s;
    box-shadow: 2px -1px 35px 12px rgba(0, 0, 0, 0.1);
}
.sci li a:hover {
    background: var(--clr);
    box-shadow: 2px -1px 5px 0px rgb(253, 253, 253);
}
.sci li a i {
    transition: 0.1s;
    pointer-events: none;
}
.sci li a:hover i {
    transform: scale(1.5) translateZ(50px);
    color: #fff;
}    