@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@480;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
:root{
    --preto-color: #000;
    --branco-color:#F6F6F6;
    --preto_1-color:#272727;
    --instagram-color:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    --titulo-color:#bdbebd;
    --selecionado-color: #3f3f3f;
    --808080: #808080;
    --222: #222;
    --514d4d: #514d4d;
    --color-black: black;
    --color-white: white;
    --color-grey: #494949;
    --a9dffc: #d9edf7;
    --dfdcdc: #dfdcdc;
    --sticky-top-pos: 30vh;
    --buffer: 2rem;

    --montserrat-font: 'Montserrat', sans-serif;
    --krona_one-font: 'Krona one', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
}
body {
    box-sizing: border-box;
    background-color: var(--branco-color);
    color: var(--color-grey);
    font-size: 1rem;
    font-weight: 400;
}

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.div_cab {
    display: flex;
    width: 30%;
}
.div_cab a {
    width: 40%;
    text-align: center;
}
.cabecalho {
    font-family: var(--montserrat-font);
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--808080);
    padding: 1% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
}
.lang {
    display: flex;
    height: 45px;
}
.flag {
    width: 100%;
    display: flex;
    height: 25px;
    justify-content: end;
    gap: 2%;
}
.theme {
    width: 9%;
    display: flex;
    height: 25px;
    justify-content: end;
}
.flag img {
    width: 25px; 
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.flag img:hover {
    box-shadow: 0px 0px 15px 5px rgba(252,249,252,1);
}
.selecionado {
    box-shadow: 0px 0px 15px 5px rgba(252,249,252,1);
}
.lang__center {
    display: flex;
    width: 100%;
}
/*---------------------------TOGGLE---------------------------------*/
.toggle.active {
    background: var(--selecionado-color);
}
.toggle {
    position: absolute;
    background: var(--branco-color);
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
    transition: 0.7s;
    box-shadow: 0px 0px 11px white;
}
.toggle::before {
    content: '☀️';
    position: absolute;
    top: -3px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.7s;
}
.toggle.active:before {
    left: 27px;
    content: '🌙';
    width: 20px;
    height: 20px;
}
.cabecalho__menu__link {
    text-decoration: none;
    transition: .5s;
    color: var(--514d4d);
}
.cabecalho__menu__link:hover {
    padding: 0 2%;
    transition: .5s;
    border-radius: 5px 5px 0 0;
    text-shadow: #fff 0 0 15px;
}
.titulo-destaque {
    color: var(--azul-color);
}
/***********************************************************************************/
h1 {
    display: inline-block;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0;
}
h1 span {
    position: relative;
    color: transparent;
    line-height: 1em;
    padding: 5px 10px;
    animation: displayText 15s infinite;
    animation-delay: calc(-3s * var(--i));
}
@keyframes displayText {
    0% {
        display: inline-block;
    }
    20%,100% {
        display: none;
    }
}
h1 span::before {
    content: attr(data-text);
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 100%;
    color: var(--titulo-color);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #808080;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 10px;
    filter: drop-shadow(0 0 5px #DCDCDC) drop-shadow(0 0 25px #DCDCDC);
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}
/**************************************************/
.titulo {
    display: flex;
    gap: 1.8%;
    overflow: hidden;
    height: 1.2em;
    font-size: 1.8em;
}
.titulo li {
    list-style: none;
    color: #222;
    text-shadow: 0px 0px 12px rgb(255, 255, 255);
}
.txt {
    animation: scroll-auto 7s ease-in-out infinite;
}
@keyframes scroll-auto {
    0%,
    20% {
        transform: translate(0px, -4.875em);
    }
    20%,
    40% {
        transform: translate(0px, -3.6em);
    }
    40%,
    60% {
        transform: translate(0px, -2.44em);
    }
    60%,
    80% {
        transform: translate(0px, -1.17em);
    }
    80%,
    100% {
        transform: translate(0px, 0.125em);
    }
    100%,
    0% {
        transform: translate(0px, -4.875em);
    }
}
/***********************************************************************************/
.main {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    position: relative;
    height: 100%;
}
.main__about {
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    height: 100%;
}
.main__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: auto;
}
.main__content__about {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: 84%;
    box-shadow: 2px 2px 4px;
    padding: 2%;
    border-radius: 0 0 10px 10px;
}
.superior__about {
    width: 100%;
}
.main__content__about::-webkit-scrollbar {
    width: 7px;
}
.main__content__about::-webkit-scrollbar-track {
    background: var(--titulo-color);
}
.main__content__about::-webkit-scrollbar-thumb {
    background-color: var(--branco-color);
    border-radius: 20px;
    border: 3px solid var(--selecionado-color);
}
.main__content__titulo {
    width: 100%;
    font-size: 1.25rem;
    font-family: var(--krona_one-font);
    margin-bottom: 1.3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row-reverse;
    gap: 10px;
}
.main__content__paragrafo {
    font-size: 1.2rem;
    font-family: var(--montserrat-font);
    margin-bottom: 1em;
    text-align: justify;
    hyphens: auto;
    text-indent: 2em;
}
.main__content__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.main__content__links__subtitulo {
    font-family: var(--krona_one-font);
    font-weight: 400;
    font-size: 1.5rem;
}
.main__content__links__ancora {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    font-family: var(--montserrat-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--branco-color);
    text-decoration: none;
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid var(--azul-color);
}
.content__about {
    background-color: #f09433;
}
.main__imagem {
    width: 41%;
    border-radius: 6%;
}
.titul {
    overflow: hidden;
    height: 30px;
    width: 100%;
}
/*---------------------------FOOTER---------------------------------*/
footer{
    background: var(--preto_1-color);
    width: 100%;
    height: 32px;
    text-align: center;
    font-family: var(--montserrat-font);
    color: var(--branco-color);
    font-size: 1.2rem;
}
/*---------------------------TOOLTIP---------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
} 
.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}    
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*---------------------------SVG---------------------------------*/
*,
*:after,
*:before {
	box-sizing: border-box;
}

.svg {
    width: 85vmin;
    position: absolute;
    z-index: -1;
    top: 155px;
    opacity: .2;
}

:root {
	--speed: .875s;
}

g:nth-of-type(1) { --delay: 0.35; }
g:nth-of-type(2) { --delay: 0.5; }
g:nth-of-type(3) { --delay: 0.75; }
g:nth-of-type(4) { --delay: 1; }
g:nth-of-type(5) { --delay: 0.75; }
g:nth-of-type(6) { --delay: 0.5; }
g:nth-of-type(7) { --delay: 0.35; }

line {
	transform-origin: 50% 50%;
	translate: 0 -50%;
	animation: drop var(--speed) calc((sin(var(--delay)) * -1s)) infinite alternate ease-in-out;
}

@keyframes drop {
	0%, 5% {
		translate: 0 -50%;
	}
	95%, 100% {
		translate: 0 50%;
	}
}

line,
circle {
	transform-box: fill-box;
}

circle:first-of-type {
	transform-origin: 50% 100%;
	animation: pulse calc(var(--speed) * 2) calc((sin(var(--delay)) * -1s)) infinite ease-in-out;
}

circle:last-of-type {
	transform-origin: 50% 0%;
	animation: pulse calc(var(--speed) * 2) calc(((sin(var(--delay)) * -1s) + (var(--speed) * -1))) infinite ease-in-out;
}

@keyframes pulse {
	0%, 20% { transform: scale(1); }
	50%, 100% { transform: scale(0); }
}

svg {
	overflow: visible !important;
}

/*----------------------timeline-------------------------------------*/

.timeline {
    max-width: 1000px;
    margin: 0 auto;
}

.timeline::-webkit-scrollbar {
    width: 8px;
}
.timeline::-webkit-scrollbar-track {
    background: var(--titulo-color);
}
.timeline::-webkit-scrollbar-thumb {
    background-color: var(--branco-color);
    border-radius: 20px;
    border: 3px solid var(--selecionado-color);
}

.timeline__section {
    display: grid;
    grid-template-columns: auto 7px 7px auto;
    align-items: start;
    position: relative;
}

.timeline__left {
    font-size: 2.5rem;
    text-align: right;
    text-transform: uppercase;
    width: 100px;
    text-align: justify;
    hyphens: auto;
}

.timeline__left,
.timeline__middle,
.timeline__tracker {
    position: sticky;
    top: 5px;
}

.timeline__left,
.timeline__middle {
    margin-bottom: var(--buffer);
}

.timeline__right {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(128, 128, 128, 1) 0%,
      rgba(128, 128, 128, 1) 100%
    );
}

.timeline__right > div {
    padding-bottom: var(--buffer);
    padding-left: 10px;
    margin-left: 4px;
}

.timeline__date > div:first-child {
    font-size: 0.7rem;
}

.timeline__bullet {
    --bullet-dims: 24px;
    box-shadow: 1px 1px 1px;
    background-color: var(--color-white);
    width: var(--bullet-dims);
    height: var(--bullet-dims);
    border-radius: 99999%;
    transform: translateX(calc(var(--bullet-dims) / 2 + 2px));
    float: right;
}

.timeline__content {
    color: var(--color-grey);
    transition: color 1s cubic-bezier(0, 0.39, 0.58, 1);
    text-align: justify;
    hyphens: auto;
    word-spacing: -0.05em;
    font-size: 110%;
    padding: 0 1.4em;
    font-family: var(--montserrat-font);
    text-indent: 2em;
}

.timeline__title {
    font-size: 0.7rem;
    font-weight: bold;
}

.timeline__dates {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: end;
}

.animate-on-scroll {
    color: var(--color-white);
}

.study {
    background-color: var(--branco-color);
}

.work {
    background-color: var(--dfdcdc);
}
.works {
    background-color: var(--dfdcdc);
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

/*---------------------body dark-------------------------------*/
body.night .main {
    color: var(--branco-color);
    background: var(--selecionado-color);
}
body.night li {
    color: var(--branco-color);
}
body.night p {
    color: var(--branco-color);
}

body.night .main__about {
    background: var(--selecionado-color);
}
body.night .main__content__titulo {
    color: var(--branco-color);
}
body.night .main__content__about {
    box-shadow: 2px 2px 4px var(--branco-color);
}
body.night .timeline__content {
    color: var(--color-grey);
}
body.night .timeline__right > div {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 4px;
}
#formbutton-modalContainer {
    width: 100%;
}
.loading {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.loading svg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.gmail {
    width: 50px;
    height: 50px;
}
.button {
    position: absolute !important;
}
.button path {
    display: none;
}
/*---------------------media------------------------------------*/
@media (max-width: 1200px) {
    .cabecalho {
        padding: 2%;
    }
    .div_cab {
        width: 100%;
    }
    .div_cab a {
        width: 100%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .main {
        flex-direction: column-reverse;
        padding: 2%;
        height: 86%;
    }
    .main__about {
        flex-direction: column;
        gap: 0;
        height: 100%;
    }
    .main__content__about {
        width: auto;
        padding: 0 0.3em;
        text-align: justify;
        hyphens: auto;
        word-spacing: -0.05em;
        font-size: 110%;
        box-shadow: 2px 2px 4px;
    }
    .main__content__titulo {
        padding: .2em 0;
        box-shadow: 0px 1px 4px;
        margin-bottom: 2px;
        border-radius: 10px 10px 0 0;
    }
    .superior__about {
        width: 100%;
        padding: 0 1px;
        height: 51%;
    }
    .main__content {
        width: auto;
        display: block;
        padding: 0 1em;
    }

    .main__imagem {
        border-radius: 50%;
        z-index: 1;
    }
    .titul {
        height: 30px;
        margin-bottom: 1em;
    }
    .main__content__paragrafo {
        margin-bottom: .2em;
    }
    .lang {
        height: 40px;
        padding-top: 4%;
        padding-right: 2%;
    }
    .toggle {
        margin-top: -5px;
    }
    .toggle::before {
        top: 0;
    }
    .flag {
        padding-right: 20%;
        gap: 10%;
    }
    .svg {
        top: 10px;
        width: 90vmin;
        left: 5%;
        z-index: -1;
    }
    .timeline__left {
        width: 100px;
        text-align: justify;
        hyphens: auto;
    }
    .timeline__content {
        padding: 0.3em;
    }
    .timeline__title {
        margin-bottom: 20px;
    }
    .email {
        width: 90%;
    }
    .email textarea {
        width: 100%;
    }
    .corpoEmail {
        height: 90vh;
    }
    .button {
        bottom: 1px !important;
        right: -8px !important;
        /*right: -5px !important;
        bottom: 3.5% !important;*/
    }
    .allContent {
        height: 100%;
    }
}